/* #TEXTAREA--mirror-div {
    display: block;
    margin: none;
    outline: none;
} */

.spanSpecialAccents {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30px;

    text-align: center;
} 

.topAccents  {
    position: relative;

    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    margin-top: 1.5px;

    color: #007CD3;

    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.bottomAccents  {
    position: relative;

    display: block;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.83em;
    margin-top: -18px;

    color: #cccccc;

    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
}

.buttonClassAccents { 
    z-index: 2147483647;

    display: flex;
    width: 34.5px;
    height: 56px;
    min-width: 0;
    min-height: 0;
    padding: 0px 3px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 0;
    
    background-color: transparent;

    text-transform: none;
    text-decoration: none;
    line-height: 1;
    -webkit-appearance: none;

    cursor: pointer;
    user-select: none; 
}

.buttonClassAccents:hover {
    outline: none;

    background: #f4f9ff;
}

.buttonClassAccents:active {
    outline: none;
    
    background-color: #e4f1ff;
}

.modal-popupAccents {
    position: absolute;
    z-index: 2147483647;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: content-box;
    height: 62.5px;
    padding: 0px 4px;
    border: #c1d6ff solid 1.5px;
    border-radius: 7px;
    margin: 15px;

    background-color: white;
}

.modal-popupAccents:after {
    position: absolute;
    top: 58.5px;
    z-index: -1;

    display: block;
    box-sizing: border-box;
    width: 10.5px;
    height: 10.5px;
    border-right: 1.5px solid #c1d6ff;
    border-bottom: 1.5px solid #c1d6ff;
    margin-left: 13px;

    background: white;

    content: '';

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.modal-popupAccents.changed:after {
    position: absolute;
    top: 62px;
    z-index: -1;

    display: block;
    box-sizing: border-box;
    width: 10.5px;
    height: 10.5px;
    border-right: 1.5px solid #c1d6ff;
    border-bottom: 1.5px solid #c1d6ff;
    margin-left: 13px;
    margin-top: -2px;

    background: white;

    content: '';

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.modal-popupAccents.flipped:after {
    position: absolute;
    top: -5.2px;
    z-index: -1;

    display: block;
    box-sizing: border-box;
    width: 10.5px;
    height: 10.5px;
    border-left: 1.5px solid #c1d6ff;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid #c1d6ff;
    margin-left: 13px;
    margin-bottom: 20px;

    background: white;

    content: '';

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.modal-popupAccents.changedFlipped:after {
    position: absolute;
    top: -3.2px;
    z-index: -1;

    display: block;
    box-sizing: border-box;
    width: 10.5px;
    height: 10.5px;
    border-left: 1.5px solid #c1d6ff;
    border-right: 1.5px solid white;
    border-bottom: 1.5px solid white;
    border-top: 1.5px solid #c1d6ff;
    margin-left: 13px;
    margin-bottom: 20px;

    background: white;

    content: '';

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
